.footer {
    display: flex;
    padding: 0 20px 15px;

    @media (--small), (--default) {
        flex-direction: column;
        align-items: center;
    }

    @media (--wide), (--widest) {
        flex-direction: row;
        justify-content: space-between;
    }

    &__links {
        display: flex;
        flex-direction: row;

        @media (--small), (--default) {
            margin-top: 15px;
        }

        @media (--wide), (--widest) {
            margin: 0 auto 0 25px;
        }

    }

    &__links > li {
        flex: none;
    }

    &__links > li:not(:first-child) {
        margin-left: 25px;
    }

    &__link {
        @mixin navitem;
        display: inline-block;
    }

    &__link--home > i {
        letter-spacing: 6px;
        text-transform: uppercase;

        &:nth-of-type(1) { 
            color: var(--blue-color);
            animation: footer-logo-animation-01 850ms steps(1) forwards infinite paused; 
        }
        
        &:nth-of-type(2) { 
            color: var(--pink-color);
            animation: footer-logo-animation-02 850ms steps(1) forwards infinite paused; 
        }
        
        &:nth-of-type(3) { 
            color: var(--yellow-color);
            animation: footer-logo-animation-03 850ms steps(1) forwards infinite paused; 
        }
        
        &:nth-of-type(4) { 
            color: var(--green-color);
            animation: footer-logo-animation-04 850ms steps(1) forwards infinite paused; 
        }
        
        &:nth-of-type(5) { 
            color: var(--purple-color);
            animation: footer-logo-animation-05 850ms steps(1) forwards infinite paused; 
        }
        
        &:nth-of-type(6) { 
            color: var(--grey-color);
            animation: footer-logo-animation-06 850ms steps(1) forwards infinite paused; 
        }
    }

    &__link--home:hover > i {
        &:nth-of-type(1) { 
            animation-play-state: running; 
        }

        &:nth-of-type(2) { 
            animation-play-state: running; 
        }

        &:nth-of-type(3) { 
            animation-play-state: running; 
        }

        &:nth-of-type(4) { 
            animation-play-state: running; 
        }

        &:nth-of-type(5) { 
            animation-play-state: running; 
        }

        &:nth-of-type(6) { 
            animation-play-state: running; 
        }
    }    

    &__link--docs {
        color: var(--blue-color);
    }

    &__legal {
        display: flex;
        flex-direction: row;

        @media (--small), (--default) {
            margin-top: 15px;
        }
    }

    &__link--terms {
        flex: none;
        color: var(--dark-text-color);
    }

    &__copyright {
        @mixin legal;
        margin-left: 25px;
        flex: none;
    }
}