.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &:before {
        display: block;
        width: 100%;
        height: calc(250/1100*100%);
        content: '';
    }

    @media (--small), (--default) {
        justify-content: center;
        height: 75vh;
        min-height: 500px;
    }

    @media (--wide), (--widest) {
        justify-content: space-between;        
        height: 100vh;
        min-height: 850px;
    }

    @media (--default), (--wide), (--widest) {
        margin: 0 auto;
    }

    @media (--small), (--default), (--wide) {
        padding: 0 calc(50/1100*100%);
    }

    @media (--widest) {
        padding: 0 50px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        max-width: 1100px;
    }

    &__logo {
        width: 85%;
        max-width: 360px;
    }

    &__logo rect:nth-of-type(1) { animation: header-logo-animation-01 1.5s steps(1, end) 3; }
    &__logo rect:nth-of-type(2) { animation: header-logo-animation-02 1.5s steps(1, end) 3; }
    &__logo rect:nth-of-type(3) { animation: header-logo-animation-03 1.5s steps(1, end) 3; }
    &__logo rect:nth-of-type(4) { animation: header-logo-animation-04 1.5s steps(1, end) 3; }
    &__logo rect:nth-of-type(5) { animation: header-logo-animation-05 1.5s steps(1, end) 3; }
    &__logo rect:nth-of-type(6) { animation: header-logo-animation-06 1.5s steps(1, end) 3; }

    &__title {
        @mixin title;
        text-align: center;
        margin-top: 30px;
    }

    &__subtitle {
        @mixin bodytext;
        color: var(--light-text-color);
        text-align: center;
        margin-top: 15px;
    }

    &__preview {
        position: relative;
        width: 100%;
        max-width: 1100px;
        transform: translate3d(0, 35%, 0);

        @media (--small), (--default) {
            display: none;
        }
    }

    &__preview:before {
        display: block;
        padding-top: calc(772/2200*100%);
        content: '';
    }

    &__preview > video {
        position: absolute 0 * * 0;
        size: 100%;
    }

    &__animation {
        position: absolute 0 * * 0;
        size: 100%;
        z-index: -1;
        transform:  translateZ(0);

        @media (--small), (--default) {
            display: none;
        }
    }

    &__animation svg:nth-of-type(1) {
        position: absolute 35% 70% * *;
        size: 20% 30%;
        animation: scale-square-animation-01 20s infinite;
    }

    &__animation svg:nth-of-type(2) {
        position: absolute 5% * * 20%;
        size: 30% 25%;
        animation: scale-square-animation-02 18s infinite;
    }

    &__animation svg:nth-of-type(3) {
        position: absolute * 45% -5% *;
        size: 20% 40%;
        animation: scale-square-animation-03 21s infinite;
    }

    &__animation svg:nth-of-type(4) {
        position: absolute 15% * * 55%;
        size: 20% 40%;
        animation: scale-square-animation-04 15s infinite;
    }

    &__animation svg:nth-of-type(5) {
        position: absolute * 10% 15% *;
        size: 15% 20%;
        animation: scale-square-animation-05 17s infinite;
    }

    &__animation svg > path {
        fill: none;
        stroke: var(--default-dot-color);
        stroke-width: 2;
        stroke-dasharray: 1, 20;
        vector-effect: non-scaling-stroke;
    }
}