html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--default-background-color);
    scroll-behavior: smooth;
}

main {
    margin:  0 auto;
    padding: 140px 10px;
    max-width: 620px;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

::selection {
    text-shadow: none;
}

@import 'views/header';
@import 'views/navigation';
@import 'views/content';